<%= form_for(@travel_fix) do |f| %>
  <% if @travel_fix.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@travel_fix.errors.count, "error") %> prohibited this travel_fix from being saved:</h2>

      <ul>
      <% @travel_fix.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
