<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
<title>Google Maps JavaScript API v3 Example: Marker Simple</title>
<link href="http://code.google.com/apis/maps/documentation/javascript/examples/default.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript">
  function initialize() {
	
	
    var myLatlng = new google.maps.LatLng(34.414925,-119.845473);
    var myOptions = {
      zoom: 12,
      center: myLatlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    }
    var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
    
		var travel_fixes = new google.maps.KmlLayer('http://ddambp.geog.ucsb.edu:3000/travel_fixes.kml');
		travel_fixes.setMap(map);
 
  }
</script>
</head>
<body onload="initialize()">
  <div id="map_canvas"></div>
</body>

</html>
