!!! XML
%Response
  %Say Hello #{@participant.full_name}. This is the Traveler system calling. Please complete a quick survey.
  %Redirect= mobile_ivr_questionnaire_call_step_through_questionnaire_path(:format => "xml", :participant_id => @participant.id, :questionnaire_id => @questionnaire.id)
